
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<div class="header">
    <div class="container clearfix">
        <h1 id="logo"> <img src="https://bprnbp31.com/po-content/nbp31/assets/images/logo-white.png"> </h1>
        <nav>
            <a routerLink="body">Home</a>
            <a routerLink="product">Product</a>
            <a routerLink="login">Login</a>
            <a routerLink="reg">Registration</a>
        </nav>
    </div>
</div>
<br>