<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <br>
    {{name}}
    <br>
    <hr>

    <button (click)='onClick()' >Click Me</button> 
    <br>
<hr>
    <span [innerHTML]='word'></span>  
                   
  </h1>
 <hr>
  <app-student></app-student>
<hr>
  <app-propertybindingdemo></app-propertybindingdemo>
<hr>
  <app-add-two-number-demo></app-add-two-number-demo>
  <hr>
  <app-app-ng-if></app-app-ng-if>
<hr>
  <app-app-ngfor-directives> </app-app-ngfor-directives>

<hr>
<app-app-ng-switch></app-app-ng-switch>

<router-outlet></router-outlet>
